.chirp_message {
  padding: 12px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

&:last-child {
  border-bottom: none;
}

.avatar {
  width: 51px;
  height: 51px;
  vertical-align: top;
  margin-right: 7px;
  border-radius: 50%;
  display: inline-block;
}

.post {
  margin: 20px 0 0 10px;
}

.info {
  display: inline-block;
  max-width: 500px;
  margin: 25px 0px 0px 15px;
}

a {
  font-size: 15px;
  color: #737373;
  font-weight: 500;
  display: inline-block;
  &:hover {
    text-decoration: underline;
  }
}

time {
  font-size: 13px;
  color: #B9B9B9;
  line-height: 18px;
  display: inline-block;
}

p {
  display: block;
  font-size: 16px;
  color: #6B6B6B;
}

button.close {
  background-image: url("/images/close-icon-2.svg");
  background-color: transparent;
  border: none;
  padding: 0;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

&:hover button.close {
  display: block;
}

.message {
  padding: 0px 0px 20px 0px;
  border-bottom: 2px solid #CED3D0;
}