<div class="message">
  <img class="avatar post" src="/images/avatar.jpg" />
  <div class="info">
    {{#link-to 'user'}}
      {{chirp.user.username}}
    {{/link-to}}
    <time>{{chirp.createdAt}}</time>
    <p>{{chirp.text}}</p>
  </div>
</div>