<div class="message">
  <img class="avatar post" src="/images/avatar.jpg" />
  <div class="info">
    {{#link-to 'user'}}
      t4t5
    {{/link-to}}
    <time>5 minutes ago</time>
    <p>Hello world!</p>
  </div>
</div>