<div class="cover-photo"></div>
<img class="avatar" src="/images/avatar.jpg" />
{{#link-to "user"}}
  t4t5
{{/link-to}}
<ul class="profile-stats">
  <li>
    <h4>Chirps</h4>
    <p>10</p>
  </li>
  <li>
    <h4>Following</h4>
    <p>10</p>
  </li>
  <li>
    <h4>Followers</h4>
    <p>10</p>
  </li>
</ul>
